body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    /*border:5px solid red;*/
}

.circle-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #555;
    margin-right: 30px;
}

.info-box {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}

#inventorImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.square {
    border-radius: 0 !important;
    animation: glowBlink 1.4s infinite ease-in-out;
}
@keyframes glowBlink {
    0% {
        box-shadow: 0 0 5px 2px red;
    }
    50% {
        box-shadow: 0 0 22px 10px blue;
    }
    100% {
        box-shadow: 0 0 5px 2px green;
    }
}

